@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Kode+Mono:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');

h2 {
    font-family: 'reggae one', cursive;
    font-size: x-large;
    color: darkblue;
    text-align: center;
    font-size: 60px
}

.titulo1 {
    text-shadow: 3px 3px 3px rgb(194, 188, 188);
}

.titulo2 {
    text-shadow: -3px -3px 3px rgb(194, 188, 188);
}

.titulo3 {
    text-shadow: 2px 4px 4px red,
        8px 8px 8px green, 10px 10px 10px blue;
}

.titulo4 {
    text-shadow: 3px 3px 3px #999,
        6px 6px 6px #bbb,
        9px 9px 9px #ddd;
        font-size: 60px;

}

.sombra1 {
    /* Al final todos los lenguajes tienden a resumir
    su lenguaje
    */
    font: 1.5em georgia, cursiva;
    text-shadow: 1px 1px 2px black,
        0.1px 0.1px 0.1rem #bbb,
        0.1rem 0.01rem 0.2rem #ddd;
}

.sombra2 {
    /* Al final todos los lenguajes tienden a resumir
    su lenguaje
    */
    font: 1.5em georgia, cursiva;
    text-shadow: 1px 1px 2px black,
        0.1px 0.1px 0.1rem #bbb,
        0.1rem 0.01rem 0.2rem #ddd;
    color: whitesmoke;
}

.sombra3 {
    font-family: 'Montserrat', cursive;
    font-size: 30px;
    color: red;
    text-shadow: 1px 1px 2px black,
        0.1px 0.1px 0.1rem #bbb,
        0.1rem 0.01rem 0.2rem #ddd;
}

/* Ejercicio en parrafo 4:
Crear sobre fondo negro, inyectar una letra estilo espacial o 
digital, añadiendo sombras visuales
*/

.sombra4 {
    font-family: 'Bungee', cursive;
    font-size: 30px;
    color: rgb(25, 163, 46);
    background-color: black;
    text-shadow: 1px 1px 2px black,
        0.1px 0.1px 0.1rem #bbb,
        0.3rem 0.03rem 0.4rem #ddd;
}